#Senka\ Calc {
  .detail-panel {
    width: 200px;
    margin: 0 auto;
    .user-container {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      margin: 10px auto;
      .nickname {
        font-size: 25px;
      }
      .rank {
        font-size: 15px;
      }
    }
    .rate-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        padding: 2px;
        font-size: 14px;
        color: gray;
      }
    }
  }
  .setting-panel {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    .setting-icon {
      font-size: 17px;
      margin: 5px;
    }
  }
  .timer-panel {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    .timer-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      width: 50%;
      .timer-part {
        margin: 3px 0;
        width: 100%;
        span {
          margin-left: 10px;
        }
      }
    }
  }
  .rate-panel {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    .rate-calc {
      width: 100%;
      display: flex;
      align-items: baseline;
      transition-delay: .7s;
      transition: .3s;
      &.on-custom {
        margin-top: 40px;
      }
      .rate-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        .rate-part {
          display: flex;
          flex-direction: column;
          &:nth-child(odd) {
            text-align: center;
          }
          &:nth-child(even) {
            font-size: 14px;
          }
        }
      }
      span {
        margin: 3px auto;
      }
    }
    .panel {
      position: absolute;
      width: 100%;
      top: 52px;
      .form-group {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        label {
          font-size: 16px;
        }
        input {
          width: 100px;
          display: inline-block;
          margin-left: 15px;
          font-size: 14px;
        }
      }
      .checkbox {
        font-size: 15px;
      }
      .rate-btns {
        display: flex;
        justify-content: space-around;
        & > button {
         &:last-child, &:nth-last-child(2) {
           width: 40%;
           display: block;
           margin: 0 auto;
         }
       }
      }
    }
  }
  .rank-panel {
    margin: 20px auto;
    .panel {
      position: absolute;
      width: 100%;
      top: 52px;
      .panel-body {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
      }
    }
    .alert {
      margin: 10px 0;
    }
    .list-container {
      display: flex;
      justify-content: space-around;
      .list {
        width: 50%;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          font-size: 16px;
        }
      }
    }
  }
  .history-panel {
    position: absolute;
    width: 100%;
    top: 52px;
    .panel-body {
      height: 412px;
      .table-responsive {
        height: 85%;
        overflow-y: auto;
      }
      button {
        display: block;
        width: 80%;
        margin: 10px auto;
      }
    }
  }
  .rank-block {
    width: 180px;
    padding: 0 10px;
    width: 50%;
    .panel {
      position: absolute;
      width: 100%;
      top: 52px;
      .panel-body {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
      }
    }
    .table {
      width: 180px;
      height: 200px;
      th {
        p {
          margin: 0;
        }
        &:nth-child(1) {
          .checkbox {
            margin: 0;
          }
        }
      }
    }
  }
  .rate-block {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .rate-calc {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      transition-delay: .7s;
      transition: .3s;
      font-size: 17px;
      .rate-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px auto;
        .rate-part {
          display: flex;
          flex-direction: column;
          &:nth-child(odd) {
            text-align: center;
          }
          &:nth-child(even) {
            font-size: 14px;
          }
        }
      }
      span {
        margin: 3px auto;
      }
    }
    .panel {
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 10;
      .form-group {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        label {
          font-size: 16px;
        }
        input {
          width: 100px;
          display: inline-block;
          margin-left: 15px;
          font-size: 14px;
        }
      }
      .checkbox {
        font-size: 15px;
      }
      .rate-btns {
        display: flex;
        justify-content: space-around;
        & > button {
         &:last-child, &:nth-last-child(2) {
           width: 40%;
           display: block;
           margin: 0 auto;
         }
       }
      }
    }
  }
}
